.wrapper {
  background-image: url(@images/bg.jpg);
}

.forums {
  padding-top: 80px;
  padding-bottom: 50px;
  flex: 1;

  @media screen and (min-width: 1680px) {
    padding-top: 100px;
  }
}

.popover {
  &__emoji {
    &-btn {
      border: 0;
    }
  }
  &__btn {
    border: 0;
  }
}

.emojiSpan {
  font-size: 1.5em;
  border: 1px solid #ccc;
  padding: 2px 5px;
  border-radius: 4px;
  margin-right: 5px;
  display: inline-flex;
  align-items: center;
}

.count {
  padding-left: 4px;
  font-size: 0.5em;
}

@supports (background-image: url(@images/bg.webp)) {
  .wrapper {
    background-image: url(@images/bg.webp);
  }
}

@media screen and (max-width: 767px) {
  .wrapper {
    background-image: url(@images/bg-mob.jpg);
  }

  @supports (background-image: url(@images/bg-mob.webp)) {
    .wrapper {
      background-image: url(@images/bg-mob.webp);
    }
  }
}
