.wrapper{
	background-image: url(@images/bg.jpg);
}

.forums{
	padding-top: 1em;
}

.popover{
	
	&__emoji{
		&-btn{
			border: 0;
		}
	}
	&__btn{
		border: 0;
	}
}
@supports (background-image: url(@images/bg.webp)) {
	.wrapper {
	  background-image: url(@images/bg.webp);
	}
  }
  