.wrapper {
  background-image: url(@images/bg.jpg);
}

.forums {
  padding-top: 100px;
  padding-bottom: 50px;
}

.popover {
  &__emoji {
    &-btn {
      border: 0;
    }
  }
  &__btn {
    border: 0;
  }
}
@supports (
  background-image: url(@images/bg.webp)
) {
  .wrapper {
    background-image: url(@images/bg.webp);
  }
}

@media screen and (max-width: 767px) {
  .wrapper {
    background-image: url(@images/bg-mob.jpg);
  }

  @supports (
    background-image: url(@images/bg-mob.webp)
  ) {
    .wrapper {
      background-image: url(@images/bg-mob.webp);
    }
  }
}
