.wrapper{
	background-image: url(@images/bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	width: 100%;
	height: 100vh;
	&::before{
		content: "";
		position: absolute;
		top:0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #AA33CC1D;
		z-index: 1;
	}
}

.forums{
padding-top: 1em;
	
	&__header{
		text-align: center;
		font-size: 16px;
		color: #fff;
		z-index: 2;
		position: relative;
	
	}
	&__table{
		width: 970px;

		margin: 20px auto;
		border-radius: 10px;
		overflow: hidden;
		z-index: 2;
		position: relative;
		border-radius: 5px;
		opacity: 80%;
	}
	&__link{
		&-home{
			z-index: 2;
		}
	}
	&__btn{
		text-align: center;
	
		&-games{
			z-index: 2;
		}
		&-comments{
			z-index: 2;
		}
	}
}

.popover{
	
	&__emoji{
		&-btn{
			border: 0;
		}
	}
	&__btn{
		border: 0;
	}
}
