.root {
  background-image: url(@images/bg.jpg);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

@supports (
  background-image: url(@images/bg.webp)
) {
  .root {
    background-image: url(@images/bg.webp);
  }
}

.card {
  width: 95%;
  margin: auto;
  background-color: var(--component-bg);
  backdrop-filter: var(--backdrop-filter);
  border-radius: 8px;
  padding: 20px 30px 30px;

  @media screen and (min-width: 1024px) {
    width: 800px;
    padding: 30px 50px 50px;
  }
}

.footer {
  margin-top: 2.5rem;
}

.button + .button {
  @media screen and (min-width: 1024px) {
    margin-left: 1.5rem;
  }
}

@media screen and (max-width: 767px) {
  .root {
    background-image: url(@images/bg-mob.jpg);
  }

  @supports (
    background-image: url(@images/bg-mob.webp)
  ) {
    .root {
      background-image: url(@images/bg-mob.webp);
    }
  }
}
