.root {
  display: flex;
  align-items: center;
}

.item {
  margin: 0 2rem;
  cursor: var(--cursor-click-url), pointer;
  user-select: none;
}

.link {
  color: var(--light);
  transition: var(--transition-duration) var(--transition-function);

  &:hover {
    color: var(--white);
  }
}
