.game {
  background-image: url('@images/bg.jpg');
  padding-top: 84px; 
  overflow-x: auto;
}

canvas {
  border: 40px solid transparent;
  border-image: url('@images/rock.png') 80;
}

.canvas {
  color: var(--white);
  padding-bottom: 50px;

  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__score {
    width: 250px;
    padding: 30px 20px;
    margin: 15px auto;
    background-color: var(--component-bg);
    backdrop-filter: var(--backdrop-filter);
    border-radius: 8px;
    text-align: center;

    @media screen and (min-width: 1200px) {
      margin: auto 15px;
    }
  }

  &__play {
    @media screen and (min-width: 1200px) {
      width: calc(100% - 230px);
    }
  }
}

@supports (background-image: url(@images/bg.webp)) {
  .game {
    background-image: url(@images/bg.webp);
  }
}
