.game {
    background-image: url('@images/bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
 
//   .modal {
//     background-color: rgba(255, 255, 255, 0.5);
//     border-radius: 10px; 
//     padding: 20px; 
//     text-align: center; 
//     margin: 20px;
//   }

  .button {
    margin: 20px
  }

  

  

 
  
 
  
  
  