services:
  postgres:
    container_name: prakticum-db
    restart: unless-stopped
    image: 39_mf_teamwork_01/db:1.0.0-alpha.1
    build: 
      context: .
      dockerfile: Dockerfile.db    
    ports:
      - "${POSTGRES_PORT}:${POSTGRES_PORT}"
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - db-data:/var/lib/postgresql/data
      - db-logs:/var/log/postgresql
    networks:
      - prakticum
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s
      retries: 5
      start_period: 30s
      timeout: 10s
  pgadmin:
    container_name: prackicum-pgadmin
    image: dpage/pgadmin4:4.18
    restart: unless-stopped
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD}
      PGADMIN_LISTEN_PORT: ${PGADMIN_LISTEN_PORT}
      PGADMIN_PORT: ${PGADMIN_PORT}
    ports:
      - "${PGADMIN_PORT}:${PGADMIN_LISTEN_PORT}"
    volumes:
      - pgadmin-data:/var/lib/pgadmin
    depends_on:
      - postgres
    networks:
      - prakticum
  nginx:
    container_name: prakticum-nginx
    image: ghcr.io/olgazhyzhka/nginx:1.0
    restart: always
    ports:
      - "8081:80"
      - "8443:443"
    volumes:
      - nginx-config:/etc/nginx
      - certbot-data:/etc/letsencrypt
      - certbot-www:/var/www/certbot
    networks:
      - prakticum
  certbot:
    container_name: prakticum-certbot
    image: certbot/certbot:latest
    volumes:
      - nginx-config:/etc/nginx
      - certbot-data:/etc/letsencrypt
      - certbot-www:/var/www/certbot
    depends_on: 
      - nginx
    networks:
      - prakticum

volumes:
  db-data:
    driver: local
  db-logs:
    driver: local
  pgadmin-data:
    driver: local
  nginx-config:
    driver: local
  certbot-data:
    driver: local
  certbot-www:
    driver: local
networks:
  prakticum:
    name: ${NETWORK}
    driver: ${DRIVER}
