.wrapper {
  justify-content: center;
  background-image: url(@images/bg404.jpg);
}
.pageError {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  text-align: center;
  &__header {
    text-align: center;
    font-size: 40px;
    color: var(--white);
    position: relative;
  }
  &__404 {
    color: #f7d51d;
    font-size: 100px;
    &-img {
      vertical-align: baseline;
    }
  }
  &__btn {
    width: 300px;
  }
}

@supports (background-image: url(@images/bg404.webp)) {
  .wrapper {
    background-image: url(@images/bg404.webp);
  }
}
