.container {
	display: flex;
	align-items: center;
	gap: 10px; 
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

  }
  
  .locationButton, .refreshButton {
	font-size: 0.8rem; 
	margin: 0; 
	color: #dd6904; 
	background: none; 
	border: none; 
	padding: 0; 
	cursor: pointer; 
  }
  
  .locationButton:hover,
  .refreshButton:hover,
  .locationButton:focus,
  .refreshButton:focus,
  .locationButton:active,
  .refreshButton:active {
	color: #dd6904!important; 
	background: none; 
	border: none; 
	outline: none; 
  }
  
  .address {
	display: flex;
	flex-direction: column; 
	gap: 2px; 
	margin-bottom: 5.5em;
  }
  
  .coordinate {
	font-size: 0.5rem; 
	height: 1em;
  }
  