* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  height: inherit;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: 100%;
  width: 100%;
  min-height: 100%;
  max-height: 100%;
  overflow: hidden;
}
