.footer {
  margin-top: 2.5rem;
}

.button + .button {
  margin-left: 1.5rem;
}

.upload {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.card {
  position: relative;
  width: 140px;
  height: 120px;
  margin: auto auto 24px;
}

.avatar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}