.wrapper{
	background-image: url(@images/bg.jpg);
	height: 100vh;
}
.leaderBoard{
	padding-top: 3em;
		&__header{
			text-align: center;
			font-size: 16px;
			color: #fff;
			position: relative;
		}
		&__table{
			width: 450px;
			height: 532px;
			background: rgba(255, 255, 255, 0.6);
			margin: 20px auto;
			border-radius: 10px;
			overflow: hidden;
			position: relative;
			opacity: 60%;
		}
		
		&__btn{
			width: 300px;
			margin:  auto ;
			text-align: center;
		}
	}

	@supports (background-image: url(@images/bg.webp)) {
		.root {
		  background-image: url(@images/bg.webp);
		}
	  }
