:root {
  --white: #fff;
  --black: #000;
  --orange: #f77704;
  --blue: #0044cc;
  --purple: #aa33cc;
  --green: #00cc55;
  --dark: #212529;
  --light: #f4f4f4;

  --state-primary: var(--orange);
  --state-secondary1: var(--blue);
  --state-secondary2: var(--purple);
  --state-secondary3: var(--green);
  --state-success: #92cc41;
  --state-info: #209cee;
  --state-warning: #f7d51d;
  --state-danger: #e76e55;

  --gray: #888;

  --body-bg: var(--white);
  --nav-color-light: var(--light);
  --nav-color-light-hover: var(--white);
  --color-text: var(--dark);
  --component-bg: rgba(255, 255, 255, 0.4);
  --component-blur: blur(20px);
  --font-family: 'Press Start 2P', sans-serif;
  --border-radius: 4px;
  --backdrop-filter: blur(20px);

  --transition-duration: 0.35s;
  --transition-function: cubic-bezier(0.5, 0, 0.5, 1);

  --z-index-1: 1;
  --z-index-5: 5;
  --z-index-10: 10;
  --z-index-navigation: 999;
  --z-index-loader: 9999;
  --cursor-url: url(../assets/images/cursor.png);
  --cursor-click-url: url(../assets/images/cursor-click.png) 14 0;

  --input-bg: var(--white);
  --input-border-width: 4px;
}

body[data-theme='dark'] {
  --body-bg: var(--dark);
  --color-text: var(--light);
  --input-bg: var(--black);
  --component-bg: rgba(33, 37, 41, 0.4);
}
