.root {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  background: linear-gradient(
    111.03deg,
    rgba(33, 37, 41, 0.32) 2.82%,
    rgba(33, 37, 41, 0.06) 90.94%
  );
  backdrop-filter: blur(2px);
  z-index: var(--z-index-10);

  @media screen and (max-width: 1199px) {
    padding: 0 1rem;
  }
}
.logo {
  margin-right: 1rem;

  @media screen and (min-width: 1200px) {
    margin-right: 2.5rem;
  }
}

.action {
  margin: 0 0 0 auto;
  display: flex;
  align-items: center;
}

.button {
  height: 32px;
  padding: 0 10px !important;
  line-height: 26px;
  font-size: 0.85rem;
  white-space: nowrap;
}

.close,
.burger,
.theme,
.logout {
  color: var(--light);

  &:hover {
    color: var(--state-primary) !important;
  }

  &:focus {
    outline: none;
    box-shadow: none;
  }
}

.theme,
.logout {
  font-size: 1.85rem;
}

.title {
  max-width: 160px;
  margin-left: 1rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 1.125rem;
  color: var(--light);

  @media screen and (min-width: 1200px) {
    max-width: 200px;
  }
}

.burger {
  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.menu {
  @media screen and (max-width: 1199px) {
    display: none;
  }
}

.link {
  display: none;
  margin-left: 1rem;
  color: var(--light);
  max-width: 200px;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: var(--transition-duration)
    var(--transition-function);

  &:hover {
    color: var(--white);
  }

  @media screen and (min-width: 1200px) {
    display: inline-block;
  }
}

.close {
  position: fixed;
  top: 10px;
  right: 10px;
  font-size: 2rem;
  z-index: calc(var(--z-index-navigation) + 1);
}
