.login {
  position: relative;
  background-image: url('src/assets/images/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.card {
  min-width: 300px;
  min-height: 300px;
  height: 70%;
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(5px);
  border-radius: 8px;
  padding: 1rem;
}

.header {}

.logo {
  text-align: center;
  padding: 1rem 0;

  img {
    width: 40%;
  }
}

.title {
  padding: 1rem 0;
  text-align: center;
  font-size: 1.25rem;
}

.form {}

.footer {}
