.page {
  justify-content: center;
  background-image: url('src/assets/images/bg.jpg');
}

.card {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: auto;
  background-color: var(--component-bg);
  backdrop-filter: var(--ba) ;
  border-radius: 8px;
  padding: 40px 24px 50px;

  @media screen and (min-width: 567px) {
    width: 25rem;
    min-width: 25rem;
  }
}

.logo {
  text-align: center;

  img {
    width: 25%;
  }
}

.title {
  margin: 40px 0;
  text-align: center;
  font-size: 1.25rem;
}

.footer {
  text-align: center;
  padding-top: 20px;
}

.button {
  width: 100%;
  margin-top: 20px !important;
}

@supports (background-image: url(@images/bg.webp)) {
  .page {
    background-image: url(@images/bg.webp);
  }
}
