.root {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(24, 24, 24, 0.86);
  backdrop-filter: blur(2px);
  z-index: var(--z-index-navigation);
}

.menu {
  text-align: center;
}

.item {
  margin: 0 0 1.25rem;
  cursor: var(--cursor-click-url), pointer;
  user-select: none;
  opacity: 0;
  transform: translateY(-20px);
  animation: slideInFromTop 0.5s ease-out forwards;

  &:nth-child(1) {
    transition-delay: 0.1s;
    animation-delay: 0.1s;
  }

  &:nth-child(2) {
    transition-delay: 0.2s;
    animation-delay: 0.2s;
  }

  &:nth-child(3) {
    transition-delay: 0.3s;
    animation-delay: 0.3s;
  }

  &:nth-child(4) {
    transition-delay: 0.4s;
    animation-delay: 0.4s;
  }
  animation: slideInFromTop 0.5s ease-out forwards;

  &:nth-child(1) {
    transition-delay: 0.1s;
    animation-delay: 0.1s;
  }

  &:nth-child(2) {
    transition-delay: 0.2s;
    animation-delay: 0.2s;
  }

  &:nth-child(3) {
    transition-delay: 0.3s;
    animation-delay: 0.3s;
  }

  &:nth-child(4) {
    transition-delay: 0.4s;
    animation-delay: 0.4s;
  }
}

.item a {
  color: var(--light);
  text-transform: uppercase;
  transition: var(--transition-duration) var(--transition-function);

  &:hover {
    color: var(--white);
  }
}

@keyframes slideInFromTop {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}