.button {
  width: 100%;
}

.form {
  overflow: auto;
  height: 90%;
}

.footer {
  display: flex;
  align-items: end;
  padding-top: 0.5rem;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgb(0 0 0 / 5%);
  border-radius: 0.625rem;
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.625rem;
  box-shadow: inset 0 0 6px rgb(0 0 0 / 5%);
  background-color: lightgrey;
}
