name: Build and Push Docker Images

on:
  push:
    branches:
      - main  

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
    - name: Log in to GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Build and push client image
      run: |
        docker build \
          --file Dockerfile.client \
          --tag ghcr.io/npotokin/39_mf_teamwork_01:client-latest \
          .
        docker push ghcr.io/npotokin/39_mf_teamwork_01:client-latest
    - name: Build and push server image
      run: |
        docker build \
          --file Dockerfile.server.prod \
          --tag ghcr.io/npotokin/39_mf_teamwork_01:server-latest \
          .
        docker push ghcr.io/npotokin/39_mf_teamwork_01:server-latest
    - name: Build and push db image
      run: |
        docker build \
          --file Dockerfile.db \
          --tag ghcr.io/npotokin/39_mf_teamwork_01:db-latest \
          .
        docker push ghcr.io/npotokin/39_mf_teamwork_01:db-latest
