name: Push to GitHub Container Registry

on:
  pull_request:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: set lower case owner name
        run: |
          echo "OWNER_LC=${OWNER,,}" >>${GITHUB_ENV}
        env:
          OWNER: '${{ github.repository_owner }}'

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push nginx image
        uses: docker/build-push-action@v3
        with:
          context: .
          file: Dockerfile.nginx
          push: true
          tags: ghcr.io/${{ env.OWNER_LC }}/${{ github.event.repository.name }}/nginx:${{ github.sha }}
          platforms: linux/amd64

      - name: Build and push server image
        uses: docker/build-push-action@v3
        with:
          context: .
          file: Dockerfile.server.prod
          push: true
          tags: ghcr.io/${{ env.OWNER_LC }}/${{ github.event.repository.name }}/server:${{ github.sha }}
          build-args: |
            SERVER_PORT=${{ secrets.SERVER_PORT }}
            SERVER_URL=${{ secrets.SERVER_URL }}
            YANDEX_AUTH_URL=${{ secrets.YANDEX_AUTH_URL }}
            YANDEX_REDIRECT_URI=${{ secrets.YANDEX_REDIRECT_URI }}
          platforms: linux/amd64

      - name: Build and push db image
        uses: docker/build-push-action@v3
        with:
          context: .
          file: Dockerfile.db
          push: true
          tags: ghcr.io/${{ env.OWNER_LC }}/${{ github.event.repository.name }}/db:${{ github.sha }}
          platforms: linux/amd64